
.toolbarButton{
  width:50px;
  height:50px;
  background-color:rgb(241, 241, 241);
}
.toolbarButton:hover{
  cursor:pointer;
}
.drawCursor{
  cursor:url('./pen.svg') -20 15, auto;

}
.eraserCursor{
  cursor:url('./eraser.svg'),auto;

}
.linePolygonCursor{
  cursor: crosshair;
}